@import 'scss/variables/colors';
@import 'scss/variables/variables';
@import 'scss/variables/mixins';

.container {
  @include flex(space-between, center, row);
}

.deleteButton {
  color: $primary;
  font-weight: $bold;
  font-size: 14px;
  cursor: pointer;

  &:hover {
    color: lighten($primary, 15);
  }
}

.price {
  font-weight: $bold;
  font-size: 14px;
  color: $white;
}

.itemName {
  text-align: left;
  width: 180px;
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 8px;
  font-size: 14px;
  color: $white;
}
