@import 'scss/colors';
@import 'scss/variables';
@import 'scss/mixins';

.container {
  .pagination {
    border: 1px solid darken($black, 5);
    box-shadow: $shadow;
    background-color: $background;
    border-radius: 5px;
  }

  padding-top: 15px;
  margin-top: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

  button {
    padding: 10px 15px;
    border-radius: 15px;
    cursor: pointer;
    color: $white;

    &:disabled {
      color: $black;
      cursor: auto;
    }
  }

  .active {
    color: $primary;
  }
}
