@import 'scss/variables/colors';
@import 'scss/variables/mixins';
@import 'include-media';

.container {
  @include flex(center, center, row);
  flex-wrap: wrap;
  width: 100vw;
  padding: 20px;
  color: $white;
  gap: 5px;

  @include media('<tablet') {
    .separator  {
      display: none;
    }
  }
}
