@import 'scss/variables/colors';
@import 'scss/variables/mixins';
@import 'scss/variables/variables';
@import 'include-media';

.container {
  @include flex(space-between, center, row);
  position: fixed;
  width: 100%;
  padding: 15px 76px;
  background-color: $black;
  height: 60px;
  z-index: 9999;

  @include media('<=425px') {
    padding: $phone-padding;
    margin: 0;
  }
}

.links {
  @include flex(flex-start, center, row);
  gap: 15px;
}

.logo {
  height: 50px;
}
