// $white: #FFF;
// $black: #000;
$red: #F00;
$blue: #00F;
$gray: #CCC;

// Custom colors

$disabled: #4E4D4D;
$background: #121212;
$warning: #FFC914;
$success: #85AD87;
$info: #6883BA;
$white: #F4FFF8;
$primary: #D62828;
$black: #312F2F;
